*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'serif', monospace;
}

body{
    background-color: rgba(27, 130, 120, 1);
}

.cont-navbar{
    border: 2px solid red;
    /* display: flex; */
    background-color: tomato;
}

.cont-logo-links-toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#nav-logo{
    height: 100px;
}

#links-toggle{
    font-size: 3em;
    color: rgba(27, 130, 120, 1);
}

/* responsive */

@media screen and (min-width: 600px) {
    .cont-nav-links{height: 100%;}
    #links-toggle{display: none;}
    .nav-links{flex-direction: row;}
    .nav-link a{margin: 0 10px;}
    .cont-navbar{display: flex; align-items: center; justify-content: center;}
  }


#wapp-title{
    text-align: center;
    margin: 15px;   
}

.cont-input{
    border: 1px solid white;
    padding: 15px;
    display: flex;
    justify-content: center;
    
}

.cont-input input{
    border: 3px solid rgb(136, 91, 152);
    border-radius: 2px 20px 2px 20px;
    padding: 10px;
    margin: 0 10px;
}

.cont-input #btn-form{
    padding: 10px 30px;
    border: 3px solid rgb(136, 91, 152);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background-color: #ffffff;
    border-radius: 20px 2px 20px 2px;
}

/* cont task */

.cont-tasks{
    border: 1px solid white;
    padding: 15px;
    margin-top: 10px;
}

.cont-task{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}